/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container {margin-left:auto;
            margin-right:auto;
            width:600px;
            border:1px solid;
            border-color:lightgrey;}
            
#topbar {   background-image:url("pics/coffey.jpg");
            background-repeat:no-repeat;
            background-position:0 20px;
            background-color:#51473d;
            color:#eae7d2;
            font-family:Verdana;
            font-style:italic;
            font-size:10px;
            padding-top:4px;
            padding-right:2px;
            text-align:right;
            height:253px;}
            
#menu   {}

.active {}

#content    { background-color:#eae7d2;
            position:relative;
            height:380px;
            border-top:white;}
            
img         {padding-left:10px;
            padding-right:5px;
            margin-top:-12px;
            float:left;}
            
#maincontent    {display:block;
                position:absolute;
                top:0;
                }
            
#maincontent p {  margin-top:-12px;
                padding-left:10px;
                padding-right:10px;
                font-family:Verdana;
                line-height:20px;
                font-size:13px;
                width:348px;
                color:#797066;}
 
#maincontent h1          {  padding-top:0;
                            color:#797066;
                            padding-left:10px;
                            font-family:"Times New Roman";
                            font-weight:300;}  
                            
#subcontent     {   display:block;
                     margin-top:20px;
                     height:325px;
                    width:230px;
                     border-left:1px dashed;
                     border-color:#c0c0c0;
                    float:right;}
                    
                
#subcontent h1      {color:#51473d;
                    font-size:17px;
                    margin-top:8px;
                    padding-left:10px;
                    font-family:"Times New Roman";
                    font-weight:300;
                    }
                    
h2                  {color:#51473d;
                    font-size:14px;
                    margin-top:27px;
                    margin-bottom:0;
                    padding-left:10px;
                    font-family:"Times New Roman";
                    font-weight:300;
                    }
                    
ul                  {margin-top:0;}

#subcontent p   { margin-top:20px;
                padding-left:10px;
                padding-right:10px;
                font-family:Verdana;
                line-height:20px;
                color:#797066;
                font-size:9px;}
                
#subcontent li a {color:#51473d;
                font-family:Verdana;
                font-size:13px;}

#subcontent li {list-style:none;
                margin-left:-30px;}
                
#bottomcontent  { display:block;
                position:absolute;
                bottom:0;
                padding-left:10px;
                padding-bottom:13px;
                font-family:Verdana;
                font-style:italic;
                 color:#797066;
                font-size:10px;}
